@import '../../styles.sass'



div.main-div
    position: absolute
    z-index: -1
    top: 100vh
    background-color: $lessDarkColor
    padding-left: 220px
    margin-bottom: 0

@media (max-height: 500px)
  div.main-div
    top: 125vh

    
@media (max-width: 991px) 
  div.main-div
    padding-left: 0px
  div > div 
    padding-top: 35px

.color1
  background-color: $lessDarkColor
  padding-right: 0
  .word1 
    user-select: none
    position: absolute
    font-size: 110px
    font-weight: 580
    color: $hiddenTextDark
  @media (max-width: 991px) 
    .word1
      font-size: 15vw

.color2
  background-color: $lightColor 
  padding-right: 0
  .word1 
    user-select: none
    position: absolute
    font-size: 110px
    font-weight: 580
    color: $hiddenTextLight
  @media (max-width: 991px) 
    .word1
      font-size: 15vw


button.custom-button
  font-weight: 600
  background-color: $textHighlightColor
  color: rgb(255, 255, 255)
  &:hover
    transition-duration: 0.3s
    background-color: rgba(27,170,128,255)


.color
    color: $textHighlightColor

a
  text-decoration: none

.word-container 
  position: relative
  padding: 10% 0%
  display: flex
  justify-content: center
  align-items: center




.word2 
  z-index: 2
  border-bottom: 3px solid $textHighlightColor



ul.list-with-lines 
  li 
    list-style: none
    padding: 10px 0
    &:not(:last-child)      
      border-bottom: 1px solid hsla(0,0%,98%,.12)

h1
  font-size: 28px

p
  font-size: 18px
  font-weight: 400
  line-height: 1.61
  color: rgb(187, 187, 187)

b 
  font-size: 18px
  font-weight: 700
  line-height: 1.61
  color: rgb(187, 187, 187)