<div class="main-div container-fluid text-white float-start">
        <div class="word-container text-center ">
            <h1 class="word1">ABOUT ME</h1>
            <h2 class="word word2">Know Me More</h2>
        </div>
        <article>
            <h1>I'm <span class="color">Giacomo Ghinelli,</span> a Front-end Developer</h1>
            <p>
                I help you build brand for your business at an affordable price. Thousands of clients have procured exceptional results while working with our dedicated team. when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <p>
                Delivering work within time and budget which meets client's requirements is our moto. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer took a galley.
            </p>
        </article>
</div>
