<div class="main-div container-fluid text-white me-0 pe-0">
    <div  class="color1 container-fluid">
        <div id="about" class="container-lg">
            <div class="row p-0">
                <div class="col-12">
                    <div #aboutComponent class="word-container">
                        <h1 class="word word1">ABOUT ME</h1>
                        <h2 class="word word2">Know Me More</h2>
                    </div>
                </div>
            </div>
            <div class="row pt-0 pb-5 mb-3">
                <div class="col-12 col-lg-6 pt-0 text-center text-lg-start page-content pe-3 pe-lg-0 px-sm-5" >
                    <h1>I'm <span class="color">Giacomo Ghinelli,</span> a Front-end Developer</h1>
                    <p class="py-3">
                        I help you build brand for your business at an affordable price. Thousands of clients have procured exceptional results while working with our dedicated team. when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <p>
                        Delivering work within time and budget which meets client's requirements is our moto. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer took a galley.
                    </p>
                </div>
                <div class="col-12 col-lg-6 pt-3">
                    <ul class="list-with-lines ">
                        <li><b>Name:</b> Giacomo Ghinelli</li>
                        <li><b>Email:</b> <a href="mailto:giacomoghinelli9@gmail.com" target="_blank" rel="noopener noreferrer" class="color"> giacomoghinelli9@gmail.com</a></li>
                        <li><b>Age:</b> 22</li>
                        <li><b>From:</b> Rome, Italy</li>
                    </ul>
                    <a href="../../assets/Giacomo Ghinelli CV.pdf" download><button class="btn rounded-pill text-center custom-button px-5 py-3 ms-5">Download CV</button></a>
                </div>
            </div>
        </div>
    </div>
    <div id="skills" class="color2 container-fluid">
        <div class="container-lg">
                    <div #skillsComponent class="word-container">
                        <h1 class="word word1">SKILLS</h1>
                        <h2 class="word word2">What I Do?</h2>
                    </div>
            <div class="row  pt-0  pb-5">
                <div class="col">
                    <h1>I'm <span class="color">Giacomo Ghinelli,</span> a Front-end Developer</h1>
                </div>
                <div class="col">
                    <p>
                        I help you build brand for your business at an affordable price. Thousands of clients have procured exceptional results while working with our dedicated team. when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
                <div class="col">
                    <p>
                        Delivering work within time and budget which meets client's requirements is our moto. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer took a galley.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="resume" class="color1 container-fluid pt-5">
        <div class="container-lg">
            <div class="row pt-0 pb-5">
                <div #resumeComponent class="word-container">
                    <h1 class="word word1">SUMMARY</h1>
                    <h2 class="word word2">Resume</h2>
                </div>
                <article class="">
                    <h1>I'm <span class="color">Giacomo Ghinelli,</span> a Front-end Developer</h1>
                    <p>
                        I help you build brand for your business at an affordable price. Thousands of clients have procured exceptional results while working with our dedicated team. when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <p>
                        Delivering work within time and budget which meets client's requirements is our moto. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer took a galley.
                    </p>
                </article>
            </div>
        </div>
    </div>
    <div id="portfolio" class="color2 container-fluid pt-5">
        <div class="container-lg">
            <div class="row pt-0 pb-5">
                <div #portfolioComponent class="word-container">
                    <h1 class="word word1">PORTFOLIO</h1>
                    <h2 class="word word2">My Work</h2>
                </div>
                <article class="">
                    <h1>I'm <span class="color">Giacomo Ghinelli,</span> a Front-end Developer</h1>
                    <p>
                        I help you build brand for your business at an affordable price. Thousands of clients have procured exceptional results while working with our dedicated team. when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <p>
                        Delivering work within time and budget which meets client's requirements is our moto. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer took a galley.
                    </p>
                </article>
            </div>
        </div>
    </div>
    <div id="contact" class="color1 container-fluid pt-5">
        <div class="container-lg">
            <div class="row pt-0 pb-5">
                <div #contactComponent class="word-container">
                    <h1 class="word word1">CONTACT</h1>
                    <h2 class="word word2">Get in Touch</h2>
                </div>
                <article class="">
                    <h1>I'm <span class="color">Giacomo Ghinelli,</span> a Front-end Developer</h1>
                    <p>
                        I help you build brand for your business at an affordable price. Thousands of clients have procured exceptional results while working with our dedicated team. when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <p>
                        Delivering work within time and budget which meets client's requirements is our moto. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer took a galley.
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>
