<div class="main-div container-fluid text-white me-0 pe-0">
    <div  class="color1 container-fluid">
        <div id="about" class="container-lg">
            <div class="row p-0">
                <div class="col-12">
                    <div #aboutComponent class="word-container">
                        <h1 class="word word1">ABOUT ME</h1>
                        <h2 class="word word2">Kno<span>w Me M</span>ore</h2>
                    </div>
                </div>
            </div>
            <div class="row pt-0 pb-5 mb-3">
                <div class="col-12 col-lg-6 pt-0 text-center text-lg-start page-content pe-3 pe-lg-0 px-sm-5" >
                    <h1>I'm <span class="color">Giacomo Ghinelli,</span> a Front-end Developer</h1>
                    <p class="py-3">
                        I'll help you build Responsive, Accessible and Awesome web applications. I enjoy using Angular, Angular Material and Bootstrap as my main frameworks. Nevertheless, I will be more then happy to use the technology that better suites your business needs. I am always striving to learn and develope new skills and become a better software engineere.
                    </p>
                    <p>
                        Delivering work within time and requirements is my goal.
                    </p>
                    <p>
                        Give me a design and I will turn it into code!
                    </p>
                </div>
                <div class="col-12 col-lg-6 pt-3">
                    <ul class="list-with-lines ps-0 px-lg-5">
                        <li><b>Name:</b> Giacomo Ghinelli</li>
                        <li><b>Email:</b> <a href="mailto:giacomoghinelli9@gmail.com" target="_blank" rel="noopener noreferrer" class="color"> giacomoghinelli9@gmail.com</a></li>
                        <li><b>Age:</b> 22</li>
                        <li><b>From:</b> Rome, Italy</li>
                    </ul>
                    <a href="../../assets/Giacomo Ghinelli CV.pdf" download><button class="btn rounded-pill text-center custom-button px-5 py-3 ms-5">Download CV <i class="fa-solid fa-download" style="color: #ffffff;"></i></button></a>
                </div>
            </div>
        </div>
    </div>
    <div id="skills" class="color2 container-fluid">
        <div class="container-lg">
            <div class="row p-0">            
                <div class="col-12 pt-0">
                    <div #skillsComponent class="word-container pb-1">
                        <h1 class="word word1">SKILLS</h1>
                        <h2 class="word word2">Wh<span>at I D</span>o?</h2>
                    </div>
                </div>
            </div>
            <div class="row  pt-0  pb-5 text-center">
                <div class="col-12 col-md-6 pt-md-5">
                    <h1>Languages</h1>
                    <ul class="list-unstyled skills-list pb-0">
                        <li>
                            <i class="fa-brands fa-html5 fa-2xl" style="color: #fe6f10;"></i>
                            <span>HTML</span>
                        </li>
                        <li>
                            <i class="fa-brands fa-css3-alt fa-2xl" style="color: #3f78ff;"></i>
                            <span>CSS</span>
                            <i class="ms-4 fa-brands fa-sass fa-2xl" style="color: #d33cce;"></i>
                            <span>SASS</span></li>
                        <li class="">
                            <i class="fa-brands fa-square-js fa-2xl" style="color: #f3f71d;"></i>
                            <span>JavaScript </span>
                            <img class="d-inline ms-4" width="36" height="36" src="https://img.icons8.com/fluency/48/typescript--v1.png" alt="typescript icon"/>
                            <span>TypeScript</span>
                        </li>
                        <li>
                            <i class="fa-brands fa-python fa-2xl" style="color: #4562d3;"></i>
                            <span>Python</span>
                        </li>
                        <li>
                            <img width="36" height="36" src="https://img.icons8.com/external-soft-fill-juicy-fish/60/external-sql-coding-and-development-soft-fill-soft-fill-juicy-fish.png" alt="external-sql-coding-and-development-soft-fill-soft-fill-juicy-fish"/>
                            <span>SQL</span>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 pt-md-5">
                    <h1>Tools & Frameworks</h1>
                    <ul class="list-unstyled skills-list">
                        <li>
                            <i class="fa-brands fa-github fa-2xl" style="color: #070707;"></i>
                            <span>Git & Github</span>
                        </li>
                        <li>
                            <i class="fa-brands fa-bootstrap fa-2xl" style="color: #bb00ff;"></i>
                            <span>Bootstrap</span>
                        </li>
                        <li>
                            <i class="fa-brands fa-angular fa-2xl" style="color: #ff0000;"></i>
                            <span>Angular</span>
                            <i class="ms-4 fa-brands fa-vuejs fa-2xl" style="color: #0a946b;"></i>
                            <span>Vue</span>
                        </li>
                        <li>
                            <img class="d-inline " width="35" height="35" src="../../assets/img/seleniumIco.jpg" alt="selenium icon">
                            <span>Selenium</span>
                        </li>
                        <li>
                            <img  class="d-inline " width="36" height="36" src="https://img.icons8.com/fluency/48/my-sql.png" alt="my-sql"/>
                        <span>MySQL</span>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="resume" class="color1 container-fluid pt-5 me-0 pe-0 ps-0 overflow-x-hidden ">
        <div class="container-lg">
            <div class="row pt-0 pb-5">
                <div class="col-12 pt-0">
                    <div #resumeComponent class="word-container">
                        <h1 class="word word1">SUMMARY</h1>
                        <h2 class="word word2">R<span>esum</span>e</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-6 pt-md-5 me-0 me-md edu-exp">
                    <h1>My Education</h1>
                    <article *ngFor="let element of resumeEduContent" class="">
                        <div class="eux-element">
                            <span>{{element.date}}</span>
                            <h2>{{element.title}}</h2>
                            <h3>{{element.location}}</h3>
                            <p>{{element.content}}</p>
                            <p *ngIf="element.location==='freeCodeCamp'"><a href="https://www.freecodecamp.org/certification/DinoPy/scientific-computing-with-python-v7" target="_blank" rel="noopener noreferrer" >Verify this certification</a></p>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-6 pt-md-5 edu-exp">
                    <h1>My Working Experience</h1>
                    <article *ngFor="let element of resumeExpContent" class="">
                        <div class="eux-element">
                            <span>{{element.date}}</span>
                            <h2>{{element.title}}</h2>
                            <h3>{{element.location}}</h3>
                            <p>{{element.content}}</p>
                        </div>
                    </article>
                </div>
                <div class="text-center mt-0 mb-3 mt-lg-5">
                    <a href="../../assets/Giacomo Ghinelli CV.pdf" download><button class="btn rounded-pill text-center custom-button2 px-5 py-3">Download CV <i class="fa-solid fa-download"></i></button></a>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolio" class="color2 container-fluid pt-5">
        <div class="container-lg">
            <div class="row pt-0 pb-5 justify-content-center pe-3">
                <div #portfolioComponent class="word-container">
                    <h1 class="word word1">PORTFOLIO</h1>
                    <h2 class="word word2">M<span>y Wo</span>rk</h2>
                </div>
                <div class="col-auto eux-element text-center">
                    <h1>Giacomo is working on some amazing projects</h1>
                    <h2>Please, hang tight...... </h2>
                    <img src="../../assets/img/giphy.gif" alt="work in progress gif" class="img-fluid mb-3">
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="color1 container-fluid pt-5">
        <div class="container-lg">
            <div class="row pt-0 pb-5 px-sm-4">
                <div class="col-12 pt-0 ">
                    <div #contactComponent class="word-container">
                        <h1 class="word word1">CONTACT</h1>
                        <h2 class="word word2">Ge<span>t in Tou</span>ch</h2>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3 order-1 order-md-0 text-center text-md-start address">
                    <h2 class="fs-4">ADDRESS</h2>
                    <p>Via Niccolò Copernico, 15,</p>
                    <p>47843 - Misano Adriatico, Rimini.</p>
                    <p>Italy</p>
                    <p class="mt-4"><i class="fa-solid fa-phone pe-1" style="color: rgb(32, 201, 151);"></i>(+39) 324 837 1757</p>
                    <p><i class="fa-solid fa-envelope pe-1" style="color: rgb(32, 201, 151);"></i>giacomoghinelli9@gmail.com</p>
                    <h2 class="fs-4 pt-5">FOLLOW ME</h2>
                    <div class=" ps-0 ps-md-3 pt-2 ">
                        <a class="me-2" href="https://github.com/JacKoding" target="_blank"><i class="fa fa-github" style="font-size:20px;"></i></a>
                        <a class="ms-2" href="https://www.linkedin.com/in/giacomo-ghinelli-3a4162202" target="_blank"><i class="fa fa-linkedin" style="font-size:20px;"></i></a>
                    </div>
                </div>
                <div class="col-md-8 col-xl-9 order-0 order-md-1 pt-0 text-center text-md-start">
                    <h2 class="fs-4">SEND ME A MESSAGE</h2>   
                    <form [formGroup]="form" class="text-white" action="javascript:void(0)" (submit)="sendEmail()" ngNativeValidate>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3 pt-0 pt-md-2">
                                <label for="name" class="form-label">Name</label>
                                <input formControlName="from_name" type="name" class="form-control" id="name" placeholder="Name" required>
                            </div>
                            <div class="col-12 col-md-6 mb-3 pt-0 pt-md-2">
                                <label for="email" class="form-label">Email address</label>
                                <input formControlName="from_email" type="email" class="form-control" id="email" placeholder="Email" required
                                style="background-color: rgb(52, 58, 64) !important;">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Example textarea</label>
                            <textarea formControlName="message" class="form-control" id="message" rows="5" required placeholder="Leave a message here........."></textarea>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn rounded-pill text-center custom-button px-5 py-3">
                                <span *ngIf="!submitted; else loading">Send Message</span>
                                <ng-template #loading>
                                    <i class="fa-solid fa-circle-notch fa-spin fa-xl" style="color: #ffffff;"></i>
                                    <span class="ps-2">Sending...</span>
                                </ng-template>                                
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
